<app-header></app-header>
<div class="container-fluid">
  <div class="row my-5 bg-white">
    <div class="row justify-content-center">
      <div class="col cennterDiv text-center py-5">
        <h1 class="">Have any questions?.</h1>
        <p class="p-3 fs-5">
          Contact us today to determine which sales model works best for your
          facility’s requirements and let Renu Robotics help you save money,
          time and carbon emissions.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
