<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 hero-content">
      <h1>A mowing crew that works like a machine</h1>
      <p>
        Renu robotics is revolutionizing the way solar and energy facilities
        conduct vegetation management.
      </p>
      <div class="btn">
        <button class="anchorBtn">
          <a href="#">Learn more</a>
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 imgContainer">
      <img
        src="../../assets/images/Export-Header-Image.png"
        alt=""
        class="img"
      />
    </div>
  </div>
</div>
