.cennterDiv {
  margin: 0px 150px 0px 150px;
}
.cennterDiv h2 {
  ont-size: 44px;
  color: #2f3c45;
  line-height: 1.09;
  margin-bottom: 15px;
}
.cennterDiv p {
  font-size: 22px;
  color: rgba(47, 60, 69, 0.69);
  line-height: 1.41;
}
