<app-header></app-header>
<div class="container-fluid">
  <div class="row my-5">
    <div class="rowline mt-3"></div>
    <div class="row justify-content-center">
      <div class="col cennterDiv text-center py-5">
        <h1 class="">
          Let’s Talk How We Can Cut Down On Expenses, Time And Carbon Emissions.
        </h1>
        <p class="p-3">
          Renu Robotics is revolutionizing the way solar and energy facilities
          solve vegetation management problems, so please complete this quick
          initial report so we can put together the right plan for you:
        </p>
      </div>
    </div>
  </div>
</div>
