<app-header></app-header>

<div class="container-fluid">
  <div class="row bgImgRow">
    <div class="row justify-content-center">
      <div class="col text-center py-5">
        <h1 class="m-3"><span>Our Technology:</span> a cut above the rest.</h1>
        <p class="p-3">
          Our continuous innovations create disruptive approaches that solve
          industry problems in new ways.
        </p>
        <button class="m-2">RENUBOT SPECS</button>
      </div>
    </div>
    <div class="row imgDiv">
      <img
        src="../../assets/images/Export-Header-Image.png"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>

  <div class="row my-5">
    <div class="rowline mt-3"></div>
    <div class="row justify-content-center">
      <div class="col cennterDiv text-center py-5">
        <h1 class="">Autonomously Awesome.</h1>
        <p class="p-3">
          When the Renubot returns to the Recharge Pod it charges and performs
          updates and downloads.
        </p>
        <button class="m-2">RENUBOT SPECS</button>
      </div>
    </div>
  </div>

  <app-tech-segments></app-tech-segments>
  <app-footer></app-footer>
</div>
