<div class="container-fluid">
  <!-- Segment 1 -->
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <div class="paraDiv">
        <h1>Vision</h1>
        <p>
          Leotechsa Robotics is a Pune Based Company, founded in 2018, our
          vision is to create the most compelling robotic company, to find best
          compatibility of robotics in human race, our technology and products
          are human-centric.
        </p>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 px-lg-5">
      <div class="imgdiv1 py-5">
        <img
          height="500"
          width="700"
          src="../../assets/images/robot.png"
          alt=""
          class="img-fluid rounded-4"
        />
      </div>
    </div>
  </div>

  <!-- Segment 2 -->
  <div class="row">
    <div class="col-lg-7 col-md-6 order-xs-2 order-sm-2 order-md-1">
      <div class="imgDiv">
        <img
          height="500"
          width="700"
          src="../../assets/images/robot2.png"
          alt=""
          class="img-fluid rounded-4"
        />
      </div>
    </div>
    <div class="col-lg-5 col-md-6 order-xs-1 order-sm-1 order-md-2 secondSeg">
      <div class="paraDiv2">
        <h1>Value</h1>
        <p>
          We Inspire, Ignite and Innovate", Bridging technology to the nature,
          we work on new notions, We combine the elements of fundamental study
          of physics, mathematics, technology and even psychology to create a
          whole new art experience for our client and customer. Our primary goal
          is to create a long term relationship with our clients and customers.
          We understand client requirement in deep and put complete efforts to
          meet those requirement.
        </p>
      </div>
    </div>
  </div>
  <!-- Segment 3 -->
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <div class="paraDiv">
        <h1>Product Methodology</h1>
        <p>
          Leotechsa Robotics is a Pune Based Company, founded in 2018, our
          vision is to create the most compelling robotic company, to find best
          compatibility of robotics in human race, our technology and products
          are human-centric.
        </p>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 px-lg-5">
      <div class="imgdiv1 py-5">
        <img
          height="500"
          width="700"
          src="../../assets/images/robot.png"
          alt=""
          class="img-fluid rounded-4"
        />
      </div>
    </div>
  </div>
</div>
