<div class="container-fluid py-5">
  <!-- segment 1 -->
  <div class="row">
    <div class="col-lg-7 col-md-6">
      <div class="imgDiv">
        <img
          height="600"
          width="700"
          src="../../assets/images/robot2.png"
          alt=""
          class="img-fluid shadow-lg"
        />
      </div>
    </div>
    <div class="col-lg-5 col-md-6 secondSeg">
      <div class="paraDiv2">
        <h1>Self Charging</h1>
        <div class="d-flex">
          <img
            src="../../../assets/images/benefit-icon-1.svg"
            class="batteryImg"
            alt=""
          />
          <p>
            We Inspire, Ignite and Innovate", Bridging technology to the nature,
            we work on new notions, We combine the elements of fundamental study
            of physics, mathematics, technology and even psychology to create a
            whole new art experience for our client and customer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- segment 2 -->
  <div class="row">
    <div class="col-lg-5 col-md-6 order-sm-2 order-lg-1 order-md-2">
      <div class="paraDiv">
        <h1>Self Updating</h1>
        <div class="d-flex">
          <img
            src="../../../assets/images/benefit-icon-1.svg"
            class="batteryImg"
            alt=""
          />
          <p>
            We Inspire, Ignite and Innovate", Bridging technology to the nature,
            we work on new notions, We combine the elements of fundamental study
            of physics, mathematics, technology and even psychology to create a
            whole new art experience for our client and customer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 px-lg-5 order-sm-1 order-md-2 order-lg-2">
      <div class="imgdiv1 py-5">
        <img
          height="600"
          width="700"
          src="../../assets/images/robot.png"
          alt=""
          class="img-fluid shadow-lg"
        />
      </div>
    </div>
  </div>
</div>

<!-- contact us -->
<div class="container-fluid">
  <div class="row my-5 bg-white">
    <div class="row justify-content-center">
      <div class="col cennterDiv text-center py-5">
        <h1 class="">Have any questions?.</h1>
        <p class="p-3 fs-5">
          Contact us today to determine which sales model works best for your
          facility’s requirements and let Renu Robotics help you save money,
          time and carbon emissions.
        </p>
        <button class="m-2">Contact Us</button>
      </div>
    </div>
  </div>
</div>
